@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Define font family variables */
:root {
  --heading-font: "Poppins", serif; /* Variable for heading font family */
  --paragraph-font: "Roboto", sans-serif; /* Variable for paragraph font family */
  --primary-color: #ff5500;
  --secondary-color: #ececec;
  --primary-light: #ffb894;
  --text-color: #000;
  --icons-size: 20px;
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

/* Apply the font variables */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font); /* Apply the heading font */
  font-weight: bold; /* Optional: make headings bold */
}

p {
  font-family: var(--paragraph-font); /* Apply the paragraph font */
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
}

/*top section*/
.main {
  background-color: var(--secondary-color);
  height: 40px;
  line-height: 40px;
}
.left {
  display: flex;
  justify-content: space-around;
}
.right i {
  color: var(--primary-color);
  font-size: var(--icons-size);
  margin-left: 18px;
}
.left p span {
  color: var(--primary-color);
  font-weight: bold;
}

@media only screen and (max-width: 580px) {
  .main {
    height: auto;
    line-height: inherit;
    text-align: center;
  }
  .left {
    flex-direction: column;
    justify-content: center;
  }
  .left p {
    font-size: 14px;
  }
  .right i {
    font-size: 18px;
  }
}

/*navbar*/
.mynav {
  box-shadow: var(--shadow-medium);
}

.myserch {
  position: relative;
}
.mybtn {
  position: absolute;
  right: 9px;
  background-color: var(--primary-color) !important;
  color: #fff !important;
}
.btn {
  padding: 8px 10px !important;
}
.mycontrol {
  width: 350px !important;
  background-color: var(--secondary-color) !important;
  height: 43px !important;
  border-radius: 7px !important;
}

.my-menu {
  visibility: hidden;
  opacity: 0;
}
@media only screen and (max-width: 993px) {
  .mycontrol {
    width: auto !important;
    height: auto !important;
  }
  .myserch {
    flex-direction: column !important;
  }

  .d-flex {
    flex-direction: column !important;
  }
  .btn {
    padding: 6px 10px !important;
  }
  .my-menu {
    visibility: visible;
    opacity: 1;
  }
  .mya {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .mycart {
    text-align: center;
    padding-top: 20px;
  }
}
.nav-item .nav-link {
  color: var(--text-color);
  font-family: var(--heading-font);
  font-size: 18px;
  text-transform: capitalize;
  margin: 0px 12px;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-menu {
  border: 0px;
  box-shadow: var(--shadow-medium) !important;
  background-color: #fff !important;
}

@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block !important;
  }
  .dropdown:focus .dropdown-menu {
    display: block !important;
  }
  .dropdown .dropdown-menu.show {
    display: none;
  }
}

.dropdown:hover .dropdown-menu {
  animation: sildeup 0.3s linear;
}

@keyframes sildeup {
  from {
    transform: translatey(60px);
  }
  to {
    transform: translatey(0px);
  }
}
.nav-link {
  position: relative; /* Positioning for the pseudo-element */
  text-decoration: none; /* Remove default underline */
}

/* Add the underline effect on hover using the ::after pseudo-element */
.nav-link::before {
  content: ""; /* Empty content */
  position: absolute;
  width: 0;
  height: 2px; /* Thickness of the underline */
  background-color: var(--primary-color); /* Color of the underline */
  bottom: 0; /* Position the underline at the bottom */
  left: 0;
  transition: width 0.3s ease; /* Animate the width */
}

/* On hover, expand the underline */
.nav-link:hover::before {
  width: 100%; /* Full width of the link */
}
.nav-link:hover {
  color: var(--primary-color) !important;
}
.nav-link span {
  position: absolute;
  right: 109%;
  color: var(--primary-color);
}
.mycart a {
  font-family: var(--paragraph-font);
}
.mycart i {
  color: var(--primary-color);
  margin-left: 10px;
}

/*category section*/
.txt-img {
  margin-left: 40px;
}
.txt-img span {
  font-weight: 300;
}
.txt-img h2 {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 38px;
}
@media only screen and (max-width: 993px) {
  .txt-img h2 {
    font-size: 23px;
  }
  .img-sec {
    margin-top: 20px;
  }
  .mysohes-txt span {
    bottom: 40px !important;
  }
}
.txt-img a {
  text-decoration: none;
  font-family: var(--paragraph-font);
  border: 1px solid var(--text-color);
  padding: 12px 20px;
  color: var(--text-color);
  transition: 0.4s;
}
.txt-img a:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

/*hot selling*/
.image-slider {
  width: 330px;
  height: 350px;
  position: relative;
}
@media only screen and (max-width: 993px) {
  .image-slider {
    width: 250px;
    height: 300px;
    overflow: hidden;
  }
  .c-one {
    margin-top: 10px;
  }
}
.image-slider img {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.my-badge .image-one {
  position: absolute;
  opacity: 1;
}
.image-two {
  height: 294px !important;
}
.my-badge .image-two {
  position: absolute;
  opacity: 0;
  transform: scale(1);
  transition: 0.4s linear;
}

.my-badge:hover .image-one {
  opacity: 0;
}

.my-badge:hover .image-two {
  opacity: 1;
  transform: scale(1.3);
}

.h-slider h1 {
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: 3px;
}
.my-badge {
  position: relative;
}
.badge {
  position: absolute;
  bottom: 100px;
  font-size: 14px !important;
  font-family: var(--paragraph-font);
  font-weight: 400;
}
.silder-txt a {
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--paragraph-font);
  font-size: 14px;
}
.silder-txt a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.side-img span {
  font-weight: bold;
  font-family: "Roboto";
  font-size: 14px;
}
.silder-txt .my-span {
  cursor: pointer;
  color: var(--primary-color);
  margin-right: 10px;
}
.img-bg {
  position: relative;
}

/*play btn*/
.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ba1f24;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fa183d;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: darken(#fa183d, 10%);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #fa183d;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}
/*end*/

/*instagram img*/
.c-one {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.c-one:hover img {
  transition: 0.4s linear;
}
.c-one:hover img {
  transform: scale(1.2);
  border-radius: 10px;
}
.txt-c {
  position: absolute;
  z-index: 444;
  width: 100%;
}
.txt-c span {
  position: absolute;
  left: 30px;
  bottom: 16px;
  color: #fff;
  font-family: var(--paragraph-font);
  font-weight: bold;
  font-size: 24px;
}
.txt-c a {
  position: absolute;
  right: 30px;
  bottom: 16px;
  color: #fff;
  font-family: var(--paragraph-font);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
.txt-c a i {
  margin-left: 7px;
}
.txt-c a:hover {
  color: var(--primary-color);
}
.c-h-one h1 {
  text-transform: capitalize;
  letter-spacing: 2px;
}

.myone img {
  width: 100%;
  height: 500px;
}
.myone {
  width: 100%;
  height: 500px;
}
.myone video {
  height: 100%;
  width: 100%;
}
/*end*/
/*img-bg*/
.img-bg {
  width: 100%;
  height: 560px;
}
.img-bg img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 993px) {
  .img-bg {
    height: auto;
  }
}

/*footer*/

.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
/*end footer*/

/*sidebar*/
.myside {
  width: auto;
  background: #3a3a3a;
  font-size: 16px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.myside input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: block;
  cursor: pointer;
}

.myside ul {
  margin: 0;
  padding: 0;
}

.myside a {
  display: block;
  padding: 15px 20px;
  color: var(--text-color);
  text-decoration: none;
}

.myside li {
  position: relative;
  float: left;
  width: 100%;
  list-style: none;
  color: #fff;
  transition: 0.5s;
  border-top: 1px solid #555;
}

.myside li:first-child {
  border-top: none;
}
.submenu {
  background-color: #000 !important;
}
.sub ul > li.sub > a:after {
  display: none;
}
.myside ul > li.sub > a:after {
  pointer-events: none;
  position: relative;
  float: right;
  content: "+";
  margin-top: -0.1em;
  font-size: 1.2em;
  vertical-align: middle;
  transition: 0.5s;
}
.submenu a {
  color: #fff;
}
.myside li:hover {
  background: transparent !important;
}

.myside .submenu {
  max-height: 0;
  overflow: hidden;
  border-top: none;
  transition: max-height 0.5s ease-in-out;
}

.myside input[type="checkbox"]:checked ~ .submenu {
  max-height: 999px;
  border-top: 1px solid #555;
}

.myside input[type="checkbox"]:checked ~ a:after {
  transform: rotate(45deg);
}

.myside .submenu a {
  padding: 10px 20px;
}

.myside .submenu li {
  list-style-position: inside;
  list-style-type: square;
  background: #333;
}

.myside .submenu li.sub {
  list-style: none;
}

.myside .submenu li li {
  background: #3a3a3a;
}

.myside .submenu li li li {
  background: #2a2a2a;
}

/*product section design*/
.btn-search {
  margin-left: 26%;
}
.btn-search .span {
  font-weight: 600;
  font-family: "Roboto";
  color: grey;
  font-size: 16px;
}
.p-banner img {
  width: 100%;
  height: 270px;
}

.input-btn {
  position: relative;
}
.category-btn {
  position: relative;
  font-weight: 600;
  font-family: "Roboto";
  font-size: 15px;
  cursor: pointer;
}
.right-icon {
  position: absolute !important;
  right: 0;
  top: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}
.checkboxes {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  cursor: pointer;
}

.show {
  max-height: 200px;
  opacity: 1;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.football-btn {
  position: relative;
}
.football-btn span {
  position: absolute;
  right: 0;
  top: 0;
}

.football-btn {
  font-family: var(--paragraph-font);
  font-weight: 400;
  text-transform: capitalize;
  font-size: 20px;
}
.side-content h4 {
  font-family: "Roboto";
  font-weight: 600;
  text-transform: capitalize;
  font-size: 15px;
}
.side-content h6 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
}
.side-content h4 span i {
  margin-right: 10px;
}
.input-btn {
  font-family: var(--paragraph-font);
  font-weight: 400;
  text-transform: capitalize;
  font-size: 20px;
}
.select-sec h5 {
  font-family: "Roboto";
  font-weight: 600;
  text-transform: capitalize;
  font-size: 16px;
}
.select {
  display: block;
  width: 100%;
  padding: 2px;
  background: transparent;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 500;
}
.same-class {
  position: relative;
  font-size: 16px !important;
}
.same-class span {
  position: absolute;
  right: 0;
  top: 0;
}
.same-class {
  font-family: var(--paragraph-font);
  font-weight: 400;
  text-transform: capitalize;
  font-size: 20px;
}
.peice-btn {
  font-family: var(--paragraph-font);
  font-weight: 400;
  text-transform: capitalize;
  font-size: 20px;
  color: var(--primary-color);
}
.checkbox-label {
  font-family: var(--paragraph-font);
  font-weight: 400;
  text-transform: capitalize;
  line-height: 27px;
  margin-left: 10px;
  color: grey;
  font-size: 15px;
}
.main-checkbox {
  position: relative;
}

.sub-checkbox {
  color: grey;
}
.side-img {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 10px;
}
.right-img {
  overflow: hidden;
}
.side-img img {
  transition: 0.3s linear;
}
.side-img:hover img {
  transform: scale(1.2);
}
.filter-h {
  display: none;
}

.clear-btn {
  margin-left: 26%;
}

@media only screen and (max-width: 993px) {
  .my-col {
    display: none !important;
  }
  .filter-h {
    display: block;
  }

  .clear-btn {
    margin-left: 10px;
  }
}
.btn-second {
  margin-left: 24px;
  padding: 9px 10px;
  border-radius: 16px;
  text-transform: capitalize;
  background: #000000;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
.btn-second i {
  margin-left: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  color: black;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
.btn-one {
  padding: 9px 11px;
  border-radius: 16px;
  text-transform: capitalize;
  background: gray;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
.btn-one i {
  margin-left: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  color: black;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
.p-product {
  font-family: "Roboto";
  font-weight: 600;
  text-transform: capitalize;
  color: grey;
  font-size: 14px;
}
.myleft-container {
  position: relative;
  top: -88px;
}
.mypagi.mt-5 {
  display: flex;
  justify-content: center;
}
.filter-h span {
  font-family: var(--heading-font);
  font-size: 20px;
  font-weight: 400;
}
.filter-h i {
  margin-right: 10px;
}

/* Login form  */
.login-form {
  width: 100%;
  height: 100%;
  background-color: var(--primary-light);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form .form-img {
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 768px) {
  .login-form .form-img {
    display: none;
  }
  .login-card-container {
    height: 100vh;
  }
}

.login-card {
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); */
  width: 100%;
  max-width: 400px;
}

/* Input Styles */
.form-group {
  position: relative;
  width: 100%;
}

.form-style {
  width: 100%;
  padding: 11px 15px;
  padding-left: 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: 0.3s ease-in-out;
  background: #ffffff;
}

.form-style:focus {
  border-color: var(--primary-color);
  background: #fff;
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.2);
}

/* Icons inside input */
.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #aaa;
}

/* Error message styling */
.input-error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}
.input-error-main {
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 5px;
  text-align: left;
}

/* login Button */
.login-btn {
  display: inline-block;
  width: 100%;
  padding: 12px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
}

.login-btn:hover {
  background: var(--primary-light);
  color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.3);
}

/* Forgot password link */
.link {
  color: var(--text-color);
  text-decoration: none;
}

.link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/*Extra CSS*/

/* Loader */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Slider Home */

.slider-home .slick-prev {
  left: 50px;
  color: black;
  z-index: 1;
}

.slider-home .slick-next {
  right: 50px;
  color: black;
  z-index: 1;
}

/*
----------------------------------
Products display
---------------------------------
*/

.product-display {
  /* margin-top: 60px; */
}
@media screen and (max-width: 768px) {
  .product-display {
    padding: 3rem 2rem 0 2rem !important;
  }
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding-left: 120px;
}

.img-selection {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
}

.img-thumbnail:first-of-type {
  margin-top: 0;
}

.img-thumbnail {
  margin-top: 10px;
  width: 140px;
  height: 140px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 0.5;
}

.img-thumbnail:hover {
  opacity: 1;
}

.img-thumbnail.selected {
  opacity: 1;
}

.big-img {
  position: relative;
  width: 100%;
  height: 650px;
  border: 1px solid #ddd;
  cursor: zoom-in;
  overflow: hidden;
}

.big-img img.zoom {
  position: absolute;
  transition: width 0.2s ease-out, opacity 0.2s ease-out 0.2s;
}

.display-img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .img-selection {
    position: unset;
    display: inline-flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }
  .img-thumbnail {
    margin: 0;
    height: auto;
  }
  .wrapper {
    padding: 0;
  }
  .big-img {
    height: 100%;
  }
}

/* A */
.product-display .product-details {
  width: 100%;
}

.product-display .product-details .product-review {
  font-size: 0.9rem;
  font-weight: 400;
  color: #868686;
}

.product-display .product-details .product-heading {
  font-size: 2.3rem;
  font-weight: 400;
}

.product-display .product-details .product-price {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--main-color);
}
.product-display .product-details .product-price span {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: line-through;
  color: #b2afaf;
}

.product-display .product-details .vendor-name span {
  font-size: 1rem;
  font-weight: 400;
  color: var(--main-color);
  text-decoration: underline;
}

.product-display .product-details .product-stock {
  color: #108043;
  font-size: 0.9rem;
}

.product-display .product-details .product-sold img {
  height: 54px;
  position: relative;
  bottom: 14px;
  right: 14px;
}

.product-display .product-details .product-sold div {
  color: red;
  font-weight: 500;
}

.product-display .product-details .left-stock span {
  color: red;
}

.product-display .product-details .product-goto-cart {
  width: 100%;
}

.product-display .product-details .product-goto-cart .quantity {
  width: 30%;
  border: 1px solid #868686;
  padding: 16px 16px;
  font-size: 0.9rem;
  cursor: pointer;
}

.product-display .product-details .product-goto-cart .add-to-cart {
  width: 60%;
  background-color: black;
  color: #fff;
  border: none;
  transition: all 200ms linear;
  padding: 13px 0;
  font-size: 1.2rem;
}

.product-display .product-details .product-goto-cart .add-to-cart:hover {
  background-color: var(--primary-color);
  /* border-color: var(--main-color); */
}

.product-display .product-details .product-goto-cart .add-wishlist {
  width: 10%;
  border: 1px solid #868686;
  padding: 17px 0;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 200ms linear;
}
.product-display .product-details .product-goto-cart .add-wishlist:hover {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.product-display .product-details .share {
  line-height: 30px;
  font-weight: 700;
}

.product-display .product-details .tac-btn {
  color: 0.8rem;
  font-weight: 300;
  color: #868686;
}
.product-display .product-details .tac-btn .tac-link {
  text-decoration: underline;
  cursor: pointer;
}

.product-display .product-details .product-buy-now-btn button {
  width: 100%;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  padding: 16px 0;
}

.product-display .product-details .ask-share .compare {
  font-size: 1rem;
  font-weight: 400;
  color: #868686;
  transition: all 200ms linear;
  cursor: pointer;
}

.product-display .product-details .ask-share .compare:hover {
  color: var(--main-color);
  text-decoration: underline;
}

/* Product Details */

.show {
  opacity: 1;
  height: auto !important;
  max-height: none !important;
}

.product-details-bottom {
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .product-details-bottom {
    padding: 0 1rem !important;
  }
}

.product-details-bottom .nav-item {
  border-bottom: none !important;
}

.nav-pills .nav-link {
  color: black !important;
  background-color: #fff !important;
  transition: all 200ms linear;
  cursor: pointer;
  font-size: 1.5rem !important;
  font-weight: 400;
}

.nav-pills .nav-link.active {
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color) !important;
}

.product-details-bottom .tab-container {
  margin: 0 150px;
}

.product-details-bottom .tab-container p {
  color: #868686;
  font-weight: 400;
  font-size: 0.9rem;
}

.product-details-bottom .tab-container ul li {
  color: #868686;
  font-weight: 400;
  font-size: 0.9rem;
}

@media screen and (max-width: 1000px) {
  .product-details-bottom .tab-container {
    margin: 0 0px;
  }
}

/* Share the product */
#st-1 {
  font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
  direction: ltr;
  display: block;
  opacity: 1;
  text-align: left;
  z-index: 94034;
}

#st-1.st-animated {
  -moz-transition: o 0.2s ease-in, p 0.2s ease-in, a 0.2s ease-in,
    c 0.2s ease-in, i 0.2s ease-in, t 0.2s ease-in, y 0.2s ease-in;
  -ms-transition: o 0.2s ease-in, p 0.2s ease-in, a 0.2s ease-in, c 0.2s ease-in,
    i 0.2s ease-in, t 0.2s ease-in, y 0.2s ease-in;
  -o-transition: o 0.2s ease-in, p 0.2s ease-in, a 0.2s ease-in, c 0.2s ease-in,
    i 0.2s ease-in, t 0.2s ease-in, y 0.2s ease-in;
  -webkit-transition: o 0.2s ease-in, p 0.2s ease-in, a 0.2s ease-in,
    c 0.2s ease-in, i 0.2s ease-in, t 0.2s ease-in, y 0.2s ease-in;
  transition: o 0.2s ease-in, p 0.2s ease-in, a 0.2s ease-in, c 0.2s ease-in,
    i 0.2s ease-in, t 0.2s ease-in, y 0.2s ease-in;
}

#st-1.st-hidden {
  opacity: 0;
}

#st-1.st-preview {
  display: none !important;
  opacity: 0 !important;
}

#st-1.st-hide {
  display: none;
}

#st-1 .st-btn {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: opacity 0.2s ease-in, top 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in, top 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in, top 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in, top 0.2s ease-in;
  transition: opacity 0.2s ease-in, top 0.2s ease-in;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  height: 32px;
  line-height: 32px;
  margin-right: 8px;
  padding: 0 8px;
  position: relative;
  text-align: center;
  top: 0;
  vertical-align: top;
  white-space: nowrap;
}

#st-1 .st-btn:last-child {
  margin-right: 0;
}

#st-1 .st-btn > svg {
  height: 16px;
  width: 16px;
  position: relative;
  top: 8px;
  vertical-align: top;
}

#st-1 .st-btn > img {
  display: inline-block;
  height: 16px;
  width: 16px;
  position: relative;
  top: 8px;
  vertical-align: top;
}

#st-1 .st-btn > span {
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.5px;
  min-width: 60px;
  opacity: 1;
  padding: 0 6px;
  position: relative;
  vertical-align: top;
}

#st-1.st-has-labels .st-btn {
  min-width: 120px;
}

#st-1.st-has-labels .st-btn.st-remove-label {
  min-width: 50px;
}

#st-1.st-has-labels .st-btn.st-remove-label > span {
  display: none;
}

#st-1.st-has-labels .st-btn.st-hide-label > span {
  display: none;
}

#st-1 .st-total {
  color: #555;
  display: inline-block;
  font-weight: 500;
  line-height: 12px;
  margin-right: 0;
  max-width: 80px;
  padding: 4px 8px;
  text-align: center;
}

#st-1 .st-total.st-hidden {
  display: none;
}

#st-1 .st-total > span {
  font-size: 16px;
  line-height: 17px;
  display: block;
  padding: 0;
}

#st-1 .st-total > span.st-shares {
  font-size: 9px;
  line-height: 9px;
}

#st-1.st-justified {
  display: flex;
  text-align: center;
}

#st-1.st-justified .st-btn {
  -moz-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

#st-1 .st-btn:hover {
  opacity: 0.8;
  top: -4px;
}

#st-1 .st-btn[data-network="facebook"] {
  background-color: #4267b2;
}

#st-1 .st-btn[data-network="facebook"] img {
  filter: ;
}

#st-1 .st-btn[data-network="facebook"] > span {
  color: #fff;
}

#st-1 .st-btn[data-network="twitter"] {
  background-color: #000000;
}

#st-1 .st-btn[data-network="twitter"] img {
  filter: ;
}

#st-1 .st-btn[data-network="twitter"] > span {
  color: #fff;
}

#st-1 .st-btn[data-network="pinterest"] {
  background-color: #cb2027;
}

#st-1 .st-btn[data-network="pinterest"] img {
  filter: ;
}

#st-1 .st-btn[data-network="pinterest"] > span {
  color: #fff;
}

#st-1 .st-btn[data-network="email"] {
  background-color: #7d7d7d;
}

#st-1 .st-btn[data-network="email"] img {
  filter: ;
}

#st-1 .st-btn[data-network="email"] > span {
  color: #fff;
}

#st-1 .st-btn[data-network="sms"] {
  background-color: #ffbd00;
}

#st-1 .st-btn[data-network="sms"] img {
  filter: ;
}

#st-1 .st-btn[data-network="sms"] > span {
  color: #fff;
}

#st-1 .st-btn[data-network="sharethis"] {
  background-color: #95d03a;
}

#st-1 .st-btn[data-network="sharethis"] img {
  filter: ;
}

#st-1 .st-btn[data-network="sharethis"] > span {
  color: #fff;
}

#st-1 .st-btn[data-network="snapchat"] > span {
  color: #333;
}

/* Related Products List */

.related-products {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .related-products {
    padding: 0 1rem !important;
  }
}

.related-products .related-products-row {
  width: 100%;
}

.related-product-card {
  cursor: pointer;
}

.related-product-card .related-product-card-img img {
  width: 95%;
  height: 350px;
  object-fit: cover;
  transition: all 300ms linear;
}

.related-product-card .related-product-card-img img:hover {
  transform: scale(1.03);
}

.related-product-card .related-product-card-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
}

.related-product-card
  .related-product-card-details
  .related-product-card-reviews {
  font-size: 0.8rem;
  font-weight: 400;
  color: #b2afaf;
}

.related-product-card
  .related-product-card-details
  .related-product-card-reviews {
  color: var(--main-color);
}

.related-product-card
  .related-product-card-details
  .related-product-card-pricing
  span {
  color: #b2afaf;
  text-decoration: line-through;
}

.related-products .slick-prev,
.related-products .slick-next {
  border: 2px solid #ccc;
  background: #ccc !important;
  display: inline-block;
  width: 40px;
  height: 40px;
  z-index: 9999;
}
.related-products .slick-prev {
  left: -19px !important;
}
.related-products .slick-next {
  right: 0 !important;
}
