@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Define font family variables */
:root {
  --heading-font: "Poppins", serif; /* Variable for heading font family */
  --paragraph-font: "Roboto", sans-serif; /* Variable for paragraph font family */
  --primary-color: #ff5500;
  --secondary-color: #ececec;
  --text-color: #000;
  --icons-size: 20px;
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

/* Apply the font variables */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font); /* Apply the heading font */
  font-weight: bold; /* Optional: make headings bold */
}

p {
  font-family: var(--paragraph-font); /* Apply the paragraph font */
}

/*top section*/
.main {
  background-color: var(--secondary-color);
  height: 40px;
  line-height: 40px;
}
.left {
  display: flex;
  justify-content: space-around;
}
.right i {
  color: var(--primary-color);
  font-size: var(--icons-size);
  margin-left: 18px;
}
.left p span {
  color: var(--primary-color);
  font-weight: bold;
}

@media only screen and (max-width: 580px) {
  .main {
    height: auto;
    line-height: inherit;
    text-align: center;
  }
  .left {
    flex-direction: column;
    justify-content: center;
  }
  .left p {
    font-size: 14px;
  }
  .right i {
    font-size: 18px;
  }
}

/*navbar*/
.mynav {
  box-shadow: var(--shadow-medium);
}

.myserch {
  position: relative;
}
.mybtn {
  position: absolute;
  right: 9px;
  background-color: var(--primary-color) !important;
  color: #fff !important;
}
.btn {
  padding: 8px 10px !important;
}
.mycontrol {
  width: 350px !important;
  background-color: var(--secondary-color) !important;
  height: 43px !important;
  border-radius: 7px !important;
}

.my-menu {
  visibility: hidden;
  opacity: 0;
}
@media only screen and (max-width: 993px) {
  .mycontrol {
    width: auto !important;
    height: auto !important;
  }
  .myserch {
    flex-direction: column !important;
  }

  .d-flex {
    flex-direction: column !important;
  }
  .btn {
    padding: 6px 10px !important;
  }
  .my-menu {
    visibility: visible;
    opacity: 1;
  }
  .mya {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .mycart {
    text-align: center;
    padding-top: 20px;
  }
}
.nav-item .nav-link {
  color: var(--text-color);
  font-family: var(--heading-font);
  font-size: 18px;
  text-transform: capitalize;
  margin: 0px 12px;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown-menu {
  border: 0px;
  box-shadow: var(--shadow-medium) !important;
  background-color: #fff !important;
}

@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block !important;
  }
  .dropdown:focus .dropdown-menu {
    display: block !important;
  }
  .dropdown .dropdown-menu.show {
    display: none;
  }
}

.dropdown:hover .dropdown-menu {
  animation: sildeup 0.3s linear;
}

@keyframes sildeup {
  from {
    transform: translatey(60px);
  }
  to {
    transform: translatey(0px);
  }
}
.nav-link {
  position: relative; /* Positioning for the pseudo-element */
  text-decoration: none; /* Remove default underline */
}

/* Add the underline effect on hover using the ::after pseudo-element */
.nav-link::before {
  content: ""; /* Empty content */
  position: absolute;
  width: 0;
  height: 2px; /* Thickness of the underline */
  background-color: var(--primary-color); /* Color of the underline */
  bottom: 0; /* Position the underline at the bottom */
  left: 0;
  transition: width 0.3s ease; /* Animate the width */
}

/* On hover, expand the underline */
.nav-link:hover::before {
  width: 100%; /* Full width of the link */
}
.nav-link:hover {
  color: var(--primary-color) !important;
}
.nav-link span {
  position: absolute;
  right: 109%;
  color: var(--primary-color);
}
.mycart a {
  font-family: var(--paragraph-font);
}
.mycart i {
  color: var(--primary-color);
  margin-left: 10px;
}

/*category section*/
.txt-img {
  margin-left: 40px;
}
.txt-img span {
  font-weight: 300;
}
.txt-img h2 {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 38px;
}
@media only screen and (max-width: 993px) {
  .txt-img h2 {
    font-size: 23px;
  }
  .img-sec {
    margin-top: 20px;
  }
  .mysohes-txt span {
    bottom: 40px !important;
  }
}
.txt-img a {
  text-decoration: none;
  font-family: var(--paragraph-font);
  border: 1px solid var(--text-color);
  padding: 12px 20px;
  color: var(--text-color);
  transition: 0.4s;
}
.txt-img a:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

/*hot selling*/
.image-slider {
  width: 330px;
  height: 350px;
  position: relative;
}
@media only screen and (max-width: 993px) {
  .image-slider {
    width: 250px;
    height: 300px;
    overflow: hidden;
  }
  .c-one {
    margin-top: 10px;
  }
}
.image-slider img {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.my-badge .image-one {
  position: absolute;
  opacity: 1;
}
.image-two {
  height: 294px !important;
}
.my-badge .image-two {
  position: absolute;
  opacity: 0;
  transform: scale(1);
  transition: 0.4s linear;
}

.my-badge:hover .image-one {
  opacity: 0;
}

.my-badge:hover .image-two {
  opacity: 1;
  transform: scale(1.3);
}

.h-slider h1 {
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: 3px;
}
.my-badge {
  position: relative;
}
.badge {
  position: absolute;
  bottom: 100px;
  font-size: 14px !important;
  font-family: var(--paragraph-font);
  font-weight: 400;
}
.silder-txt a {
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--paragraph-font);
  font-size: 14px;
}
.silder-txt a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.side-img span {
  font-weight: bold;
  font-family: "Roboto";
  font-size: 14px;
}
.silder-txt .my-span {
  cursor: pointer;
  color: var(--primary-color);
  margin-right: 10px;
}
.img-bg {
  position: relative;
}

/*play btn*/
.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ba1f24;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fa183d;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: darken(#fa183d, 10%);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #fa183d;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}
/*end*/

/*instagram img*/
.c-one {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.c-one:hover img {
  transition: 0.4s linear;
}
.c-one:hover img {
  transform: scale(1.2);
  border-radius: 10px;
}
.txt-c {
  position: absolute;
  z-index: 444;
  width: 100%;
}
.txt-c span {
  position: absolute;
  left: 30px;
  bottom: 16px;
  color: #fff;
  font-family: var(--paragraph-font);
  font-weight: bold;
  font-size: 24px;
}
.txt-c a {
  position: absolute;
  right: 30px;
  bottom: 16px;
  color: #fff;
  font-family: var(--paragraph-font);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
.txt-c a i {
  margin-left: 7px;
}
.txt-c a:hover {
  color: var(--primary-color);
}
.c-h-one h1 {
  text-transform: capitalize;
  letter-spacing: 2px;
}

.myone img {
  width: 100%;
  height: 500px;
}
.myone {
  width: 100%;
  height: 500px;
}
.myone video {
  height: 100%;
  width: 100%;
}
/*end*/
/*img-bg*/
.img-bg {
  width: 100%;
  height: 560px;
}
.img-bg img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 993px) {
  .img-bg {
    height: auto;
  }
}

/*footer*/

.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
/*end footer*/

/*sidebar*/
.myside {
  width: auto;
  background: #3a3a3a;
  font-size: 16px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.myside input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: block;
  cursor: pointer;
}

.myside ul {
  margin: 0;
  padding: 0;
}

.myside a {
  display: block;
  padding: 15px 20px;
  color: var(--text-color);
  text-decoration: none;
}

.myside li {
  position: relative;
  float: left;
  width: 100%;
  list-style: none;
  color: #fff;
  transition: 0.5s;
  border-top: 1px solid #555;
}

.myside li:first-child {
  border-top: none;
}
.submenu {
  background-color: #000 !important;
}
.sub ul > li.sub > a:after {
  display: none;
}
.myside ul > li.sub > a:after {
  pointer-events: none;
  position: relative;
  float: right;
  content: "+";
  margin-top: -0.1em;
  font-size: 1.2em;
  vertical-align: middle;
  transition: 0.5s;
}
.submenu a {
  color: #fff;
}
.myside li:hover {
  background: transparent !important;
}

.myside .submenu {
  max-height: 0;
  overflow: hidden;
  border-top: none;
  transition: max-height 0.5s ease-in-out;
}

.myside input[type="checkbox"]:checked ~ .submenu {
  max-height: 999px;
  border-top: 1px solid #555;
}

.myside input[type="checkbox"]:checked ~ a:after {
  transform: rotate(45deg);
}

.myside .submenu a {
  padding: 10px 20px;
}

.myside .submenu li {
  list-style-position: inside;
  list-style-type: square;
  background: #333;
}

.myside .submenu li.sub {
  list-style: none;
}

.myside .submenu li li {
  background: #3a3a3a;
}

.myside .submenu li li li {
  background: #2a2a2a;
}

/*product section design*/
.btn-search {
  margin-left: 26%;
}
.btn-search .span {
  font-weight: 600;
  font-family: "Roboto";
  color: grey;
  font-size: 16px;
}
.p-banner img {
  width: 100%;
  height: 270px;
}

.input-btn {
  position: relative;
}
.category-btn {
  position: relative;
  font-weight: 600;
  font-family: "Roboto";
  font-size: 15px;
  cursor: pointer;
}
.right-icon {
  position: absolute !important;
  right: 0;
  top: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}
.checkboxes {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  cursor: pointer;
}

.show {
  max-height: 200px; /* Adjust based on content */
  opacity: 1;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.football-btn {
  position: relative;
}
.football-btn span {
  position: absolute;
  right: 0;
  top: 0;
}

.football-btn {
  font-family: var(--paragraph-font);
  font-weight: 400;
  text-transform: capitalize;
  font-size: 20px;
}
.side-content h4 {
  font-family: "Roboto";
  font-weight: 600;
  text-transform: capitalize;
  font-size: 15px;
}
.side-content h6 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
}
.side-content h4 span i {
  margin-right: 10px;
}
.input-btn {
  font-family: var(--paragraph-font);
  font-weight: 400;
  text-transform: capitalize;
  font-size: 20px;
}
.select-sec h5 {
  font-family: "Roboto";
  font-weight: 600;
  text-transform: capitalize;
  font-size: 16px;
}
.select {
  display: block;
  width: 100%;
  padding: 2px;
  background: transparent;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 500;
}
.same-class {
  position: relative;
  font-size: 16px !important;
}
.same-class span {
  position: absolute;
  right: 0;
  top: 0;
}
.same-class {
  font-family: var(--paragraph-font);
  font-weight: 400;
  text-transform: capitalize;
  font-size: 20px;
}
.peice-btn {
  font-family: var(--paragraph-font);
  font-weight: 400;
  text-transform: capitalize;
  font-size: 20px;
  color: var(--primary-color);
}
.checkbox-label {
  font-family: var(--paragraph-font);
  font-weight: 400;
  text-transform: capitalize;
  line-height: 27px;
  margin-left: 10px;
  color: grey;
  font-size: 15px;
}
.main-checkbox {
  position: relative;
}

.sub-checkbox {
  color: grey;
}
.side-img {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 10px;
}
.right-img {
  overflow: hidden;
}
.side-img img {
  transition: 0.3s linear;
}
.side-img:hover img {
  transform: scale(1.2);
}
.filter-h {
  display: none;
}

.clear-btn {
  margin-left: 26%;
}

@media only screen and (max-width: 993px) {
  .my-col {
    display: none !important;
  }
  .filter-h {
    display: block;
  }

  .clear-btn {
    margin-left: 10px;
  }
}
.btn-second {
  margin-left: 24px;
  padding: 9px 10px;
  border-radius: 16px;
  text-transform: capitalize;
  background: #000000;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
.btn-second i {
  margin-left: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  color: black;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
.btn-one {
  padding: 9px 11px;
  border-radius: 16px;
  text-transform: capitalize;
  background: gray;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
.btn-one i {
  margin-left: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  color: black;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
.p-product {
  font-family: "Roboto";
  font-weight: 600;
  text-transform: capitalize;
  color: grey;
  font-size: 14px;
}
.myleft-container {
  position: relative;
  top: -88px;
}
.mypagi.mt-5 {
  display: flex;
  justify-content: center;
}
.filter-h span {
  font-family: var(--heading-font);
  font-size: 20px;
  font-weight: 400;
}
.filter-h i {
  margin-right: 10px;
}

/*details page design*/
/* Base styles */
.easyzoom {
  display: flex;
  flex-direction: column; /* Stack large image and thumbnails vertically */
  align-items: center;
  gap: 20px;
}

/* Thumbnail styles */
.thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Display thumbnails horizontally */
  justify-content: center;
  gap: 10px; /* Space between thumbnails */
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: inherit !important;
}
.thumbnails li {
  margin-bottom: 10px;
}

.thumbnails li img {
  margin-top: 15px;
}

.thumbnails img {
  width: 136px;
  height: 136px;
}

/* Large screen styles */

@media screen and (min-width: 769px) {
  .easyzoom {
    align-items: center; /* Keep alignment centered on large screens */
  }

  .thumbnails {
    justify-content: center;
    gap: 15px; /* Increase the space between thumbnails on large screens */
  }
}

/* Small screen styles */

@media screen and (max-width: 768px) {
  .easyzoom {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
  }

  .thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }

  .thumbnails li:last-child {
    margin-right: 0;
  }
}

/* New zoom effect styles */
/* Base styles */
.easyzoom {
  display: flex;
  flex-direction: column; /* Stack large image and thumbnails vertically */
  align-items: center;
  gap: 20px;
}

.large-image {
  max-width: 100%;
  height: auto;
  position: relative; /* Positioning required for zoom effect */
}

/* Thumbnail styles */
.thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Display thumbnails horizontally */
  justify-content: center;
  gap: 10px; /* Space between thumbnails */
}

.thumbnails li {
  margin-bottom: 10px;
}

.thumbnails li img {
  margin-top: 15px;
}

/* Large screen styles */
@media screen and (min-width: 769px) {
  .easyzoom {
    align-items: center; /* Keep alignment centered on large screens */
  }

  .thumbnails {
    justify-content: center;
    gap: 15px; /* Increase the space between thumbnails on large screens */
  }
}

/* Small screen styles */

@media screen and (max-width: 993px) {
  .thumbnails li img {
    width: 55px;
    height: 55px;
    margin-right: 0px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .easyzoom {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
  }

  .thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }

  .thumbnails li:last-child {
    margin-right: 0;
  }
}

/* New zoom effect styles */
.easyzoom .easyzoom-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Ensure the zoomed part outside the image is hidden */
  z-index: 10;
}

.easyzoom .easyzoom-overlay img {
  width: 100%;
  height: auto;
  object-fit: contain; /* Keep the zoomed image within bounds */
}
.easyzoom img {
  width: 1920px;
  height: auto;
}

.top-txt p {
  text-transform: capitalize;
  font-family: var(--heading-font);
  font-weight: 400;
}
.top-txt p i {
  color: green;
  margin-right: 10px;
}
.top-txt h3 {
  text-transform: capitalize;
  font-family: var(--heading-font);
  font-weight: 500;
  margin-left: 23px;
}
.top-txt h4 {
  text-transform: capitalize;
  font-family: var(--heading-font);
  font-weight: 500;
  margin-left: 23px;
  color: var(--primary-color);
}
.top-txt h4 span {
  color: grey;
}
.size .para {
  text-transform: capitalize;
  font-family: var(--heading-font);
  font-weight: 400;
  margin-left: 23px;
  font-size: 20px;
}

.size .size-txt {
  margin-left: 23px;
  border: 1px solid black;
  padding: 10px 15px;
  margin-top: 10px;
  color: black;
}
.color {
  margin-left: 23px;
}
.color label {
  margin-left: 16px;
  position: relative;
  text-transform: capitalize;
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 20px;
  top: -5px;
}
.color p {
  text-transform: capitalize;
  font-family: var(--heading-font);
  font-weight: 400;
  color: grey;
  font-size: 14px;
}
.checkbox {
  text-transform: capitalize;
  font-family: var(--heading-font);
  font-weight: 400;
  margin-left: 23px;
}

.quality .box-one {
  border: 1px solid black;
}

/* Base styling for the page */

.quantity-container {
  padding: 10px 20px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-btn {
  padding: 10px;
  background-color: grey;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 40px;
  height: 40px;
  transition: background-color 0.2s;
}

.quantity-btn:hover {
  background-color: #0056b3;
}

.quantity-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#quantity {
  width: 60px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 0;
  background-color: #f9f9f9;
  cursor: not-allowed; /* To prevent direct input */
}

/* Responsive Design */
@media (max-width: 768px) {
  .quantity-container {
    flex-direction: column;
    gap: 15px;
  }
}

.add-to-cart {
  margin-left: 23px;
}
.fa-heart {
  margin-left: 15px;
  font-size: 25px;
  color: red !important;
  float: right;
}

/*tabs*/
.tabs li {
  list-style: none;
  display: inline-block;
  font-size: 21px;
  border-radius: 4px;
  margin: 10px 15px;
  font-family: var(--heading-font);
  font-weight: 400;
  cursor: pointer;
}
.tabs li.current {
  border-bottom: 1px solid black;
  border-color: var(--primary-color);
}
.tab-content p {
  font-family: var(--heading-font);
  font-weight: 400;
  color: grey;
  text-transform: capitalize;
}
.tab-content {
  display: none;
}
.tab-content.current {
  display: block;
}

/*form*/

/* Please ❤ this if you like it! */

.section a {
  cursor: pointer;
  transition: all 200ms linear;
}
.section a:hover {
  text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #ffeba7;
}
.section p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
.section h4 {
  font-weight: 600;
  color: #fff;
  font-family: var(--paragraph-font);
}

.section h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  color: #000;
}

.mycontainer {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 1.1) !important;
  background-color: #fff;
}
.section {
  position: relative;
  width: 100%;
  display: block;
}
.full-height {
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  content: "";
  background-color: #102770;
  z-index: 20;
  left: -1px;
  top: -2px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: #2a2b38;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #ffeba7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input::-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}
.btn {
  color: #fff !important;
}
.a-btn {
  border-radius: 0px !important;
}
.btn:hover {
  background-color: black !important;
}
.btn:active,
.btn:focus {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.btn:hover {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

/*cart*/
@media only screen and (max-width: 580px) {
  .my-container-sec {
    overflow-x: scroll;
  }
}

/*Extra CSS*/

/* Loader */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Slider Home */

.slider-home .slick-prev {
  left: 50px;
  color: black;
  z-index: 1;
}

.slider-home .slick-next {
  right: 50px;
  color: black;
  z-index: 1;
}
